<template name="blocks">
    <div class="block img-block">
        <img class="img-cat" src="img/pizzacat-ig04.jpg" alt="" />
        <img class="insta-icon" src="img/2000px-Instagram_simple_icon.svg.png" alt="" />
        <div class="p-10">
            <img class="img-avatar img-avatar48" src="img/ig-avatar-1.jpg" alt="" />
            <div class="info-title">Laura Tomis<br /><span class="span-xs">@theRealLauraCroft</span></div>
        </div>
    </div>
    <div class="block img-block">
        <img class="img-cat" src="img/pizzacat-ig01.jpeg" alt="" />
        <img class="insta-icon" src="img/2000px-Instagram_simple_icon.svg.png" alt="" />
        <div class="p-10">
            <img class="img-avatar img-avatar48" src="img/twitter-avatar-1.jpg" alt="" />
            <div class="info-title">Enger Bewza<br /><span class="span-xs">@engerbewza</span></div>
        </div>
    </div>
    <div class="block img-block">
        <img class="img-cat" src="img/pizzacat-ig02.jpg" alt="" />
        <img class="insta-icon" src="img/2000px-Instagram_simple_icon.svg.png" alt="" />
        <div class="p-10">
            <img class="img-avatar img-avatar48" src="img/twitter-avatar-6.jpg" alt="" />
            <div class="info-title">Tom B<br /><span class="span-xs">@tomis</span></div>
        </div>
    </div>
    <div class="block img-block">
        <img class="img-cat" src="img/pizzacat-ig03.jpg" alt="" />
        <img class="insta-icon" src="img/2000px-Instagram_simple_icon.svg.png" alt="" />
        <div class="p-10">
            <img class="img-avatar img-avatar48" src="img/twitter-avatar-2.jpg" alt="" />
            <div class="info-title">Hannah Z<br /><span class="span-xs">@hannaHannah</span></div>
        </div>
    </div>
    <div class="block img-block">
        <img class="img-cat" src="img/pizzacat-ig05.jpg" alt="" />
        <img class="insta-icon" src="img/2000px-Instagram_simple_icon.svg.png" alt="" />
        <div class="p-10">
            <img class="img-avatar img-avatar48" src="img/ig-avatar-2.jpg" alt="" />
            <div class="info-title">Jodizle<br /><span class="span-xs">@theSizzle</span></div>
        </div>
    </div>
    <div class="block img-block">
        <img class="img-cat" src="img/catpiz.jpg" alt="" />
        <img class="insta-icon" src="img/2000px-Instagram_simple_icon.svg.png" alt="" />
        <div class="p-10">
            <img class="img-avatar img-avatar48" src="img/pic5.jpeg" alt="" />
            <div class="info-title">Helen White<br /><span class="span-xs">@hWhite</span></div>
        </div>
    </div>
    <div class="block img-block">
        <img class="img-cat" src="img/mVcPrNl.jpg" alt="" />
        <img class="insta-icon" src="img/2000px-Instagram_simple_icon.svg.png" alt="" />
        <div class="p-10">
            <img class="img-avatar img-avatar48" src="img/pic4.jpg" alt="" />
            <div class="info-title">Rachel G<br /><span class="span-xs">@gRach</span></div>
        </div>
    </div>
</template>
