<template name="moments">
    <div class="content content-full mt-30">
        <div class="row">
            <div class="offset-sm-2 col-sm-8 offset-md-1 col-md-10 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6 text-center">
                <span class="middle-text">We completely re-engineered the pizza just for you. So you can eat all day.</span>
            </div>
        </div>
        <div class="js-slider d-none d-lg-block margin-slider" data-arrows="true" data-slides-to-show="5">
            {{> blocks}}
        </div>
        <div class="js-slider d-none d-lg-none d-sm-block margin-slider" data-slides-to-show="4">
            {{> blocks}}
        </div>
        <div class="js-slider d-sm-none margin-slider" data-slides-to-show="3">
            {{> blocks}}
        </div>
    </div>
</template>
