$red:      #ef5350;
$green:    #9ccc65;
$blue:     #42a5f5;
$yellow:   #ffca28;
$black-0:  #333333;
$black-1:  #444444;
$black-2:  #666666;
$black-3:  #888888;
$black-4:  #aaaaaa;
$black-5:  #cccccc;
$black-6:  #dddddd;
$black-7:  #eeeeee;
