<template name="pizza_view">
    <div class="content content-full" style="margin-top: 10px;">
        <div class="row">
            <div class="col-md-1 d-none d-lg-block">
                <img class="img-fluid" src="img/pizza-side.png" alt="" style="border-radius: 5px; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                <img class="img-fluid" src="img/pizza-side2.png" alt="" style="padding: 10px; margin-bottom: 10px;">
                <img class="img-fluid" src="img/pizza-side3.png" alt="" style="padding: 10px;">
            </div>
            <div class="col-md-7 col-lg-6 d-none d-lg-block">
                <img class="img-fluid" src="img/pizza-side.png" alt="" style="border-top-right-radius: 5px; border-top-left-radius: 5px;">
            </div>
            <div class="offset-sm-1 col-sm-10 offset-md-0 col-md-6 col-lg-6 d-lg-none">
                <img class="img-fluid" src="img/pizza-side.png" alt="" style="border-top-right-radius: 5px; border-top-left-radius: 5px;">
                <div style="text-align: center; margin-top: 20px;">
                    <img class="img-fluid" src="img/pizza-side.png" alt="" style="width: 65px; border-radius: 5px; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                    <img class="img-fluid" src="img/pizza-side2.png" alt="" style="width: 65px; padding: 10px; margin-bottom: 10px;">
                    <img class="img-fluid" src="img/pizza-side3.png" alt="" style="width: 65px; padding: 10px;">
                </div>
            </div>
            <div class="offset-sm-2 col-sm-8 offset-md-0 col-md-6 offset-lg-1 col-lg-4">
                <div class="block block-transparent stick-right margin-t">
                    <h4 style="font-family: 'Poppins', sans-serif; letter-spacing: 1px; margin-bottom: 15px; font-weight: 700;">Brooklyn Classic</h4>
                    <h5 style="font-family: 'Muli', sans-serif; margin-bottom: 20px; font-weight: 300;">$99 USD</h5>
                    <p style="font-family: 'Poppins', sans-serif; font-size: 11px; line-height: 13px; margin-bottom: 20px; font-weight: 400;">Because you deserve the most sizzling classic of them all. Nothin' mo' nothing' less.</p>
                    <p style="font-family: 'Poppins', sans-serif; font-size: 9px; line-height: 10px; margin-bottom: 5px; font-weight: 400;">Quantity</p>
                    <div style="border-radius: 5px; border: 1px solid #bbb; max-width: 130px; text-align: center; padding: 7px 0 9px; margin-bottom: 20px;">
                        <span id="decrement" class="pull-left" style="cursor: pointer; font-family: 'Poppins', sans-serif; font-size: 11px; color: #333; font-weight: 500; margin: 4px 0 0 15px; color: #ff3e33;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                        <span style="font-family: 'Poppins', sans-serif; font-size: 11px; color: #333; font-weight: 500;">{{counter}} slice</span>
                        <span id="increment" class="pull-right" style="cursor: pointer; font-family: 'Poppins', sans-serif; font-size: 11px; color: #333; font-weight: 500; margin: 4px 15px 0 0; color: #ff3e33;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                    </div>
                    <button class="btn btn-danger btn-block btn-noborder" style="text-transform: uppercase; font-family: 'Poppins', sans-serif; font-weight: 400; font-size: 12px; letter-spacing: 1px; height: 50px; margin-bottom: 10px;">Onwards with my pizza</button>
                    <p style="font-family: 'Poppins', sans-serif; font-size: 11px; line-height: 13px; margin-bottom: 20px; font-weight: 400;">30 day money back guarantee</p>
                </div>
            </div>
        </div>
    </div>
</template>
