<template name="footer">
    <div class="content content-full mt-30">
        <div class="row margin-b">
            <div class="col-6">
                <h4 class="text-footer">Pizza made just for you.</h4>
                <h4 class="mb-15" style="color: #333;">By the slice.</h4>
                <p class="par-footer mb-20">Because you deserve more than pizza<br />made for no one in particular.</p>
                <img class="image-footer-1" src="img/pizzacat.jpg" alt="" />
            </div>
            <div class="col-6">
                <img class="image-footer-2" src="img/pizzaguy.jpg" alt="">
            </div>
        </div>
    </div>
</template>
