<template name="navigation">
    <header id="page-header">
        <div class="content-header">
            <div class="content-header-section">
                <div class="content-header-item lh-30">
                    <a href="/">
                        <img src="img/pizza-logo.png" alt="" height=14px />
                    </a>
                </div>
                <div class="btn-group ml-40" role="group">
                    <ul class="nav-main-header">
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Edibles</a>
                            <ul>
                                <li><a href="/">Category #1</a></li>
                                <li><a href="/">Category #2</a></li>
                                <li><a href="/">Category #3</a></li>
                                <li><a href="/">Category #4</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Merch</a>
                            <ul>
                                <li><a href="/">Category #1</a></li>
                                <li><a href="/">Category #2</a></li>
                                <li><a href="/">Category #3</a></li>
                                <li><a href="/">Category #4</a></li>
                            </ul>
                        </li>
                        <li><a class="" href="/">Reviews</a></li>
                    </ul>
                </div>
            </div>
            <div class="content-header-section">
                <span class="d-none d-sm-inline ph-num mr-20">1-800-263-1775</span>
                <a href="/">
                    <span class="nav-icon">
                        <i id="cart" class="fa fa-shopping-cart"></i>
                    </span>
                </a>
                <a class="d-lg-none" href="/">
                    <span class="nav-icon ml-20">
                        <i class="fa fa-bars"></i>
                    </span>
                </a>
            </div>
        </div>
    </header>
</template>
