<template name="navigation">
    <header id="page-header">
        <div class="content-header">
            <div class="content-header-section">
                <div class="content-header-item" style="line-height: 30px;">
                    <a href="/">
                        <img src="img/pizza-logo.png" alt="" height=14px />
                    </a>
                </div>
                <div class="btn-group" role="group" style="margin-left: 40px;">
                    <ul class="nav-main-header">
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Edibles</a>
                            <ul>
                                <li>
                                    <a href="/">Category #1</a>
                                </li>
                                <li>
                                    <a href="/">Category #2</a>
                                </li>
                                <li>
                                    <a href="/">Category #3</a>
                                </li>
                                <li>
                                    <a href="/">Category #4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Merch</a>
                            <ul>
                                <li>
                                    <a href="/">Category #1</a>
                                </li>
                                <li>
                                    <a href="/">Category #2</a>
                                </li>
                                <li>
                                    <a href="/">Category #3</a>
                                </li>
                                <li>
                                    <a href="/">Category #4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="" href="/">Reviews</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content-header-section">
                <span class="d-none d-sm-inline" style="font-family: 'Poppins', sans-serif; color: #bbb; letter-spacing: 1px; font-size: 16px; font-weight: 300; margin-right: 20px;">1-800-263-1775</span>
                <a href="/">
                    <span style="font-family: 'Poppins', sans-serif; color: #555; letter-spacing: 1px; font-size: 22px; font-weight: 300;">
                        <i id="cart" class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                </a>
                <a class="d-lg-none" href="/">
                    <span style="font-family: 'Poppins', sans-serif; color: #555; letter-spacing: 1px; font-size: 22px; font-weight: 300; margin-left: 20px;">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </header>
</template>
